body {
    font-family: unset;
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: "Appetite Contrast";
    src: url("./AppetiteContrast.ttf");
} */
.psychology {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.login {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: mediumturquoise; */
    font-family: "Appetite Contrast"
}

.hero-img {
    /* background-image: url("./53b9300a6544187cdea13bd34ee3623e.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
    height: 98vh;
    width: 90vh;
    display: flex;
    position: relative;
}

/* .img{
    background-image: url(./53b9300a6544187cdea13bd34ee3623e.jpg);
    background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} */

.img {
    margin-top: 10px;
}

/* maincolor-#fbded8 */
.loginpage {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: left;
}

.button_login {
    border-radius: 9px;
    border-style: none;
    padding: 8px;
    width: -webkit-fill-available;
    background-color: #b6ceeb;
    margin-top: 15px;
}

.button_login a {
    display: inline-block;
    width: 100%;
    color: white !important;
    text-decoration: none !important;
}

.right {
    display: flex;
    justify-content: left;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1;
    height: 100vh;
}

.left {
    height: 100vh;
}

.item {
    height: 100vh;
    width: 100vh;
    font-size: 20px;
}

.carousel-inner .item p {
    padding: 70px 26px;
    position: relative;
}

.carousel-inner .item .icon {
    position: absolute;
    top: 69%;
    height: 20px;
    width: 88px;
    height: 75px;
    left: 4%;
}

.item>.icon {
    width: 50vh;
    height: 5px;
    fill: #ffffff;
    position: absolute;
    top: -5px;
    left: -30px;
    opacity: 0.15;
}

.item>.like {
    width: 90vh;
    padding: 15px 120px;
}

.like2 {
    width: 90vh;
    padding: 15px 120px;
}



/* ARTICLE PAGE css */
* {
    box-sizing: border-box;
}

.navbar {
    background-color: #005fb1a1;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    width: 1479px;
    margin-top: -20px;
}

.stres-text {
    color: #777777;
}

.stres>.image>img {
    width: 825px;
    height: 416px;
}

.stres {
    margin-left: 47vh;
    width: 853px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h6 {
    color: #777777;
}
.stress-div {
    margin-top: 4vh;
}

.stress-div>.share a {
    color: #777777 !important;
}

.share {
    width: 45em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share_to_share {
    flex-direction: row;
    display: flex;
}

.mental {
    margin-top: 3vh;
    margin-left: 26vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mental>.image>img {
    width: 390px;
    height: 281px;
}
.mental .share{
    width: 28em;
}
.small_div{
    display: flex;
}
.mental_div{
    margin-top: 3vh;
    margin-left: 26vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mental_div>.image>img {
    width: 307px; 
    height: 272px;
}
.mental_div .share{
    width: 28em;
}
/* .article_body{
    border: 20px solid #787878;
} */
.line{
    border-left: 5px solid white;
    position: absolute;
    left: 37vh;
    height: 48vh;
    top: 38vh;
}
.customer{
    background-color: #b6ceeb;
    margin-bottom: 20vh;
    padding-bottom: 57vh;
    padding-top: 7vh;
    margin-top: 16vh;
}
.customer p{
    margin-left: 40vh;
    font-size: 23px;
    margin-top: -7vh;
}
.bold{
    color: #b6ceeb;
    font-size: 7vh;  
}
.customer>img{
width: 34vh;
height: 32vh;
border-radius: 100%;
z-index: 100;
margin-top: -33vh;
border: 10px solid white;
}
p{
    font-family: 'Lora', serif;
}
label{
    font-family: 'Lora', serif;
}
.login h3{
    font-family: 'Lora', serif;
}
.login h1{
    font-family: 'Lora', serif;
}
.font h1{
    font-family: 'Lora', serif;
    margin-left: 42vh;
    font-size: 7vh;
}
.navbar {
    background-color: #005fb1a1;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    width: 100%;
    margin-top: -20px;
}

.customer_pink{
    background-color:#ffeaea;
    margin-bottom: 20vh;
    padding-bottom: 57vh;
    padding-top: 7vh;
    margin-top: 16vh;
}
.customer_purple{
    background-color:#e6d7e9;
    margin-bottom: 20vh;
    padding-bottom: 57vh;
    padding-top: 7vh;
    margin-top: 16vh;
}
.customer_pink>img{
    width: 34vh;
    height: 32vh;
    border-radius: 100%;
    z-index: 100;
    margin-top: -33vh;
    border: 10px solid white;
}
.customer_purple>img{
        width: 34vh;
        height: 32vh;
        border-radius: 100%;
        z-index: 100;
        margin-top: -33vh;
        border: 10px solid white;
}
.customer_pink p{
    margin-left: 40vh;
    font-size: 23px;
    margin-top: -7vh;
}
.customer_purple p{
    margin-left: 40vh;
    font-size: 23px;
    margin-top: -7vh;
}
.bold_purple{
    color: #e6d7e9;
    font-size: 7vh;  
}
.bold_pink{
    color:#ffd6d6;
    font-size: 7vh;  
}
.navbar {
    margin: 0;
    width: 100%;
    margin-top: -20px;
}
.navbar>.container-fluid>.home{
    margin-left: 14vh;
}
.contact{
    margin-left: 72vh;
}
.active{
    margin-left: 56vh;
}
