body {
    font-family: unset;
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: "Appetite Contrast";
    src: url("./AppetiteContrast.ttf");
} */
.psychology {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.login {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: mediumturquoise; */
    font-family: "Appetite Contrast"
}

.hero-img {
    /* background-image: url("./53b9300a6544187cdea13bd34ee3623e.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
    height: 98vh;
    width: 90vh;
    display: flex;
    position: relative;
}

/* .img{
    background-image: url(./53b9300a6544187cdea13bd34ee3623e.jpg);
    background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} */

.img {
    margin-top: 10px;
}

/* maincolor-#fbded8 */
.loginpage {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: left;
}

.button_login {
    border-radius: 9px;
    border-style: none;
    padding: 8px;
    width: -webkit-fill-available;
    background-color: #5f9ea0;
    margin-top: 15px;
}

.button_login a {
    display: inline-block;
    width: 100%;
    color: white !important;
    text-decoration: none !important;
}

.right {
    display: flex;
    justify-content: left;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1;
    height: 100vh;
}

.left {
    height: 100vh;
}

.item {
    height: 100vh;
    width: 100vh;
    background-color: #5f9ea0;
    color: white;
    font-size: 20px;
}

.carousel-inner .item p {
    padding: 70px 26px;
    position: relative;
}

.carousel-inner .item .icon {
    position: absolute;
    top: 69%;
    height: 20px;
    width: 88px;
    height: 75px;
    left: 4%;
}

.item>.icon {
    width: 50vh;
    height: 5px;
    fill: #ffffff;
    position: absolute;
    top: -5px;
    left: -30px;
    opacity: 0.15;
}

.item>.like {
    width: 90vh;
    padding: 15px 120px;
}

.like2 {
    width: 90vh;
    padding: 15px 120px;
}



/* ARTICLE PAGE css */
* {
    box-sizing: border-box;
}

.navbar {
    background-color: #005fb1a1;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    width: 1479px;
    margin-top: -20px;
}

.stres-text {
    color: #777777;
}

.stres>.image>img {
    width: 825px;
    height: 416px;
}

.stres {
    margin-left: 47vh;
    width: 853px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h6 {
    color: #777777;
}

.image::after {
    content: "";
    height: 39%;
    z-index: -1;
    width: 46%;
    position: absolute;
    left: 322px;
    bottom: 293px;
    /* background-color: #c2c2c2; */
    border: 10px solid #c2c2c2;
    display: inline-block;
}

.stress-div {
    margin-top: 4vh;
}

.stress-div>.share a {
    color: #777777 !important;
}

.share {
    width: 45em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share_to_share {
    flex-direction: row;
    display: flex;
}

.mental {
    margin-top: 3vh;
    margin-left: 26vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mental>.image>img {
    width: 390px;
    height: 281px;
}
.mental .share{
    width: 28em;
}
.small_div{
    display: flex;
}
.mental_div{
    margin-top: 3vh;
    margin-left: 26vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mental_div>.image>img {
    width: 390px;
    height: 281px;
}
.mental_div .share{
    width: 28em;
}
/* .article_body{
    border: 20px solid #787878;
} */