* {
    box-sizing: border-box;
}

.navbar .nav-link{
    text-decoration: none;
}
.carusel {
    height: 50vh;
}

.container-fluid {
    padding: 0;
    position: relative;
}

.item>img {
    display: inline-block;
}

.overlay {
    background-color: black;
    opacity: 20%;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.text {
    position: absolute;
    top: 190px;
    left: 70vh;
    z-index: 110;
    color: white;
}

.carousel-inner {
    height: 90vh;
}

.card_first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.top_white {
    transform-origin: bottom;
    animation: curveAnimate 1s;
    position: absolute;
    bottom: 32vh;
    left: 0px;
    right: 0px;
    display: block;
    max-width: 100%;
    height: auto;
}

.img {
    height: 68vh;
    background-color: #eaf9fc;
}

.mentor>img {
    height: 68vh;
    width: 100vh;
}

.mentor {
    display: flex;
    flex-direction: row;
    font-family: 'baskerville', 'Playfair Display', serif;
    background-color: #c6ecffa8;
}

.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30vh;
    font-style: italic;
    margin-top: 2vh;
    margin-right: 5vh;
    margin-left: 15vh;
}

/* @font-face {
    font-family: "Italic";
    src: url("./Playfair_Display\ \(1\).zip");
} */
.heading>h1 {
    font-size: 7vh;
    font-weight: 700;
}

.heading>p {
    font-size: 4vh;
    margin-top: 6vh;
    background-repeat: no-repeat;
}

.heading>img {
    height: 10vh;
    width: 10vh;
    opacity: 10%;
    margin-bottom: -13vh;
}

.flower {
    margin-top: -63vh;
    margin-left: 69vh;
}

.dr_img {
    flex: 0 0 33.3333333333%;
    margin-top: 5vh;
    margin-left: 10vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #cbd5e1;
    width: 153vh;
    border-radius: 2vh;
    height: 52vh;
}

.member {
    margin-top: 5vh;
    margin-left: 10vh;
}

.dr_img>.dr_>h1 {
    font-weight: 600;
    font-style: italic;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.dr_img>.dr_>p {
    font-weight: 400;
    font-style: italic;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-top: 2vh;
    font-size: medium;
}

.dr_ {
    margin-top: 7vh;
    margin-right: 7vh;
    margin-left: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dr>ul>li>a>i {
    list-style: none;
}

.dr>ul>li {
    display: flex;
    flex-direction: row;
}

.dr>ul {
    display: flex;
    flex-direction: revert;
}

i {
    margin-left: 2vh;
    font-size: 3vh;
    margin-top: 1.5vh;
}

button {
    color: white;
    border-radius: 1vh;
    background-color: #172e59;
    border: 1px #172e59;
    font-size: 17px;
    height: 6vh;
    width: 22vh;
    font-weight: 600;
}

.dr {
    display: flex;
    flex-direction: row;
}

.dr_img img{
    width: 217px;
    height: 288px;
    margin: 3vh;
    border-radius: 2vh;
}
.dr_ h3{
    font-weight: 700;
    font-size: 26px;
}
.line{
    height: 1px;
    background: #cfcbcb;
}
.web .fa{
 color: black;
}
/* meet page css */
.meet-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.body{
    background-color: black;
}
.meet {
   /* background-image: url(../assest/8fe3237e-bfdd-45fb-8f03-62583cd37d7b.jpg);
   background-repeat: no-repeat; */
    height: 90vh;
}
.meet_vip>h4{
    color: white;
}
.meet>img{
   
    height: 100%;
    width: 112vh;
    display: flex;
    justify-content: center;
    margin-left: 35vh;

}
.meet_vip {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
}

/* chatbox css */
body {
    margin: 0;
    padding: 0;
}

.chat_container {
    display: flex;
    height: 100%;
    background-color: white;
    color: black;
}
.chat_container.dark{
    background-color: #262626;
    color: white;
}
.friends {
    width: 30%;
    margin-left: 4vh;
}

/* .friends h1 {

} */
.chat_active {
    /* background-color: #ccc; */
    display: flex;
}

.chat_active .profile {
    border-radius: 50%;
}

.fa-solid {
    padding: 1vh;
    margin: 1vh;
    color: #797c8c;
}

.fa-green {
    background-color: #93caa5;
    color: white;
}

.chat {
    width: 70%;
    height: 100vh;
    background-color: paleturquoise;
    background-image: url(../assest/wp2824890.jpg);
    display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.chat>.icon {
    display: flex;
    align-items: flex-end;
}

.chat_active>.profile>img {
    width: 6vh;
    border-radius: 100%;
    height: 6vh;
    margin: 1vh;
}

.chat_vip {
    /* background-color: #ccc; */
    display: flex;
}

.chat_vip>.profile_vip>img {
    width: 6vh;
    border-radius: 100%;
    height: 6vh;
    margin: 1vh;
}

.form-control {
    width: 50vh;
    height: 6vh;
    padding: 0.5rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6ebf5;
}

h5 {
    --bs-text-opacity: 1;
    color: #797c8c !important;
    font-size: 11px;
}

.chat-input {
    width: 100%;
    min-height: calc(1.5em + 1rem + 6px);
    padding: 0.5rem 1rem;
    font-size: .875rem;
    border-radius: 0.4rem;
}

.chat-input:focus-visible {
    outline: 0;
}

.char input {
    display: inline-block;
}
.chat_top>.active_profile>img{
  
    border-radius: 52%;
    width: 52px;
    height: 52px;
    margin: 2vh;
}
.chat_top{
    display: flex;
    z-index: 23;
}
.chat_top>.active_name>h2{
    margin: 3vh;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  height: 100px;
    background-color: white;
    opacity: 50%;
}
.chat{
    position: relative;
}
.navbar {
    margin: 0;
    width: 100%;
    margin-top: -20px;
}
.navbar>.container-fluid>.home{
    margin-left: 14vh;
}
.contact{
    margin-left: 72vh;
}
.active{
    margin-left: 56vh;
}
.inputicon{
    position: relative;
}
.inputicon i{
    position: absolute;
    top: 0vh;
    left: 96vh;
    color: #158f8d;
}